:root {
    --primary-color: #4C68FF;
    --secondry: #FFF6F6;
}

body a {
    text-decoration: none;
}

.main-navbar {
    width: 100%;
    height: 60px;
    background-color: var(--primary-color);
}

.login-section {
    width: 400px;
    padding: 20px;
    background-color: #FFFCFC;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    ;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#form input {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid rgb(237, 237, 237);
    outline: none;
}

#myfile::file-selector-button {
    width: 150px;
    height: 46px;
    padding-right: 10px;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    outline: none;
}

.login-btn buttonn {
    width: 150px;
}

.green::placeholder {
    color: rgb(2, 181, 2);
}

.nav-content img {
    width: 40px;
    border-radius: 30px;
}

.bg-color {
    width: 100%;
    height: 100vh;
    background-color: var(--secondry);
}

#search_input input {
    width: 100%;
    height: 48px;
    border: 1px solid rgb(237, 237, 237);
    font-weight: 100;
    padding-left: 50px;
    outline: none;
}

.search-icon {
    position: relative;
    width: 25px;
    top: 53px;
    left: 10px;
    font-size: 20px;
}

.filter-icon {
    position: relative;
    width: 25px;
    bottom: 38px;
    left: 1080px;
}

.loading {
    width: 40px;
    position: relative;
    bottom: 6px;
}

#loginBtn {
    width: 100px;
    height: 46px;
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
}

#loginBtn:hover {
    background-color: #3957fc;
}

#registorBtn {
    width: 100px;
    height: 46px;
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
}

#registorBtn:hover {
    background-color: #3957fc;
}









@media only screen and (max-width: 400px) {
    .bg-color {
        width: 400px;
    }
}